*.flags text eol=lf
*.fstab text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mk text eol=lf
*.patch text eol=lf
*.prop text eol=lf
*.py text eol=lf
*.rc text eol=lf
*.sh text eol=lf
*.xml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
.gitignore text eol=lf
prebuilt/h40/** -text
prebuilt/h40/manifest.json text eol=lf
prebuilt/h40/README.md text eol=lf
